p::first-letter {font-size: 200%;
    color: #E5E5FF;
  font-weight: bold;}

  p {font-family: sans-serif; font-size: 19px; color: white; border: 1px inset black; background-color: #1a001a ; }

  body {background-image: url("public_images/cities.jpg"); }

h1 {text-align: center; font-weight: bold; font-family: fantasy;}

nav {
    display: block;
    color: grey }
}
